.companySetting {
  @extend .panelBox;
  .setBox {
    padding: 40px 60px;
    .cnM {
      margin-bottom: 10px;
    }
    .row {
      @extend .margin-bottom-40;
    }
    .fn {
      border: 2px #cbd5dd solid;
      padding: 10px;
    }
    .selectWidth {
      width: 300px;
    }
    .holidaysLayout {
      @extend .panelBox;
      @extend .margin-top-30;
      @extend .margin-bottom-40;
      .holdiaysBox {
        padding: 20px;
        .holBox {
          padding: 0 20px 0 20px;
          .holM {
            width: 50%;
            margin-bottom: 20px;
          }
        }
      }
    }
    .weekendsLayout {
      @extend .panelBox;
      @extend .margin-top-30;
      @extend .margin-bottom-40;
      .weekBox {
        padding: 20px 40px 0 40px;
        h6 {
          font-weight: bold;
        }
        .listChk {
          li {
            margin-bottom: 6px;
          }
        }
        .input-field {
          label {
            top: 0 !important;
          }
        }
      }
    }
    .organizationLayout {
      @extend .panelBox;
      @extend .margin-bottom-40;
      .holdiaysBox {
        padding: 20px;
        .pdBox {
          padding: 0 20px 0 20px;
          .orgM {
            width: 50%;
            margin-bottom: 40px;
            .bmM {
              margin-bottom: 8px;
            }
          }
        }
        h6 {
          margin-bottom: 4px;
        }
      }
    }
  }
}
